<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296865486776-p2gdjma8n72gvh573uogrbaacb0ue6ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296865486776-p2gdjma8n72gvh573uogrbaacb0ue6ft</string>
	<key>API_KEY</key>
	<string>AIzaSyDRssAiKk0jbbM9oGxt4IurSFfqr2Q3704</string>
	<key>GCM_SENDER_ID</key>
	<string>296865486776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indrajitchavan.ShroomRoom</string>
	<key>PROJECT_ID</key>
	<string>mushroomdetection</string>
	<key>STORAGE_BUCKET</key>
	<string>mushroomdetection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296865486776:ios:aa7537442b297865</string>
	<key>DATABASE_URL</key>
	<string>https://mushroomdetection.firebaseio.com</string>
</dict>
</plist>